# Virtual Environments
venv/
.venv/
env/
.env/

# Node dependencies
node_modules/

# Environment variables
.env

# Build artifacts
dist/
build/

.vscode/

docs/


# Ollama models (if stored locally)
.ollama/
ollama_data/

# Python
__pycache__/
*.pyc
.venv/
venv/

# OS
.DS_Store
Thumbs.db